<body>
  <app-navbar></app-navbar>
  <app-sidebar [isExpanded]="sidebarExpanded" (toggleSidebar)="sidebarExpanded = !sidebarExpanded"></app-sidebar>
  <div class="content" [ngClass]="{ 'sidebarExpanded': sidebarExpanded }">
    <router-outlet></router-outlet>
    <div class="row" style="display: flex;padding-top: 5rem;padding-left: 2rem;padding-right: 2rem;">
      <div class="col-md-6 col-sm-12">
        <h5>Chart</h5>
      </div>
      <div class="col-md-6 col-sm-12 right-icons">
        <input type="month" class="form-control m-2" style="width: 10rem;border: none;" id="start" name="trip-start"
          value="2018-07" min="2018-01" max="2018-12">
        <button class="m-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download"
            viewBox="0 0 16 16">
            <path
              d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
            <path
              d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
          </svg>
        </button>
      </div>
    </div>
    <div class="m-3 p-3 questions" style="border: none;">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>Type</label>
            <select class="form-control form-select">
              <option>RPC</option>
              <option>RPC 2</option>
              <option>RPC 3</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <label>Zone</label>
          <select class="form-control form-select">
            <option>West</option>
            <option>West 2</option>
            <option>West 3</option>
          </select>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Region</label>
            <select class="form-control form-select">
              <option>MUM</option>
              <option>MUM 2</option>
              <option>MUM 3</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Team type</label>
            <select class="form-control form-select">
              <option>Marketing</option>
              <option>Marketing 2</option>
              <option>Marketing 3</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-3">
          <div class="form-group">
            <label>Person name</label>
            <select class="form-control form-select">
              <option>Piya Mukharjee</option>
              <option>John doe</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <label>Center type</label>
          <select class="form-control form-select">
            <option>Worrior</option>
            <option>Worrior 2</option>
            <option>Worrior 3</option>
          </select>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Center name</label>
            <select class="form-control form-select">
              <option>Malad - Mumbai</option>
              <option>Delhi</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div id="chart">
      <h5 class="p-3 pb-0">Average RPC</h5>
      <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
        [yaxis]="chartOptions.yaxis" [stroke]="chartOptions.stroke" [tooltip]="chartOptions.tooltip"
        [dataLabels]="chartOptions.dataLabels"></apx-chart>
    </div>


    <div class="card m-3 p-3">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Zone</th>
              <th scope="col">Region</th>
              <th scope="col">Team Type</th>
              <th scope="col">Month</th>
              <th scope="col">Royalty + SK</th>
              <th scope="col">Enrolments</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let country of countries">
              <td scope="row">{{ country.name }}</td>
              <td>{{ country.zone}}</td>
              <td>{{ country.region }}</td>
              <td>{{ country.team }}</td>
              <td>{{ country.month }}</td>
              <td>{{ country.royalty }}</td>
              <td>{{ country.population }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="d-flex justify-content-between p-2">
        <select class="form-select form-control" style="width: 5rem" [(ngModel)]="pageSize"
          (ngModelChange)="refreshCountries()">
          <option [value]="5">05</option>
          <option [value]="10">10</option>
          <option [value]="15">15</option>
        </select>
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
          (pageChange)="refreshCountries()">
        </ngb-pagination>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</body>